@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600&family=Unbounded:wght@700&display=swap");
:root {
  --header-height: 3.5rem;

  
  --first-color: hsl(30, 100%, 58%);
  --black-color: hsl(220, 12%, 8%);
  --white-color: hsl(48, 90%, 90%);
  --text-color: hsl(220, 8%, 28%);
  --body-color: hsl(48, 80%, 90%);
  --shadow-img: drop-shadow(0 16px 24px hsla(0, 0%, 0%, .2));

  
  --body-font: "Montserrat Alternates", sans-serif;
  --second-font: "Unbounded", sans-serif;
  --biggest-font-size: 3rem;
  --bigger-font-size: 2.5rem;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

 
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 6rem;
    --bigger-font-size: 4.5rem;
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}